<div>
    <p>Icons</p>
    <mat-icon color="primary">assessment</mat-icon>
    <mat-icon color= "accent">3d_rotation</mat-icon>
    <mat-icon color="primary">account_circle</mat-icon>
</div>

<div>
    <p>Badge position</p>
    <mat-icon [matBadge]="notification" matBadgePositon = "below before">email</mat-icon>
    <mat-icon matBadge="3" matBadgePosition="above before">call</mat-icon>
    <mat-icon matBadge="20" matBadgePosition="below after">message</mat-icon>
</div>

<div>
    <p>Badge coloring</p>
    <mat-icon matBadge="5" matBadgePositon = "below before">email</mat-icon>
    <mat-icon matBadge="3" matBadgeColor="warn">call</mat-icon>
    <mat-icon matBadge="20" matBadgeColor="accent">message</mat-icon>
</div>

<div>
    <P>Badge sizing</P>
    <mat-icon matBadge="5" matBadgeSize = "small">email</mat-icon>
    <mat-icon matBadge="3" matBadgeSize = "medium">call</mat-icon>
    <mat-icon matBadge="20" matBadgeSize = "large">message</mat-icon>
</div>

